#mobileWrapper{
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
   height: 100vh;
   background-color: #ececec;
  
    mat-toolbar{
        background-color: #15146B;
        color: white;
    }
  

}